{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}
{% block boostrap %}
    <link rel="stylesheet" href="CSS/bootstrap-3.2.0-dist/css/bootstrap.min.css">
{% endblock %}
{% block contenu %}
    <article class="formulaireAdmin">
        <form method="post" action="index.php?page=newAvis&id={{ entreprise.bean.id }}" enctype="multipart/form-data">
            <div class="titreAdmin">
                <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png"
                                                        alt=""></a>
                <h2>Ajouter les types</h2>
            </div>
            <div>

                <label for="personne">Personne</label>
                <select name="personne" id="personne">
                    <option value="">...</option>
                    {% for personne in listePersonnes %}
                    <option value="{{ personne.id }}">{{ personne.prenom }} {{ personne.nom }}</option>
                    {% endfor %}

                </select>
            </div>
            <div>
                <label for="avis">Avis</label>
                    <textarea class="form-control" name="avis" id="avis" placeholder="avis"
                              required></textarea>
                <span class="correction">nooooooooooooooooooooooooooooo</span>
            </div>
            <div>
                <button type="submit" class="btn" name="valider">
                    Ajouté
                </button>
            </div>
        </form>
    </article>
{% endblock %}
