{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}
{% block boostrap %}
    <link rel="stylesheet" href="CSS/bootstrap-3.2.0-dist/css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block contenu %}
    <article class="formulaireAdmin">
        <div class="container">
            <div class="titreAdmin">
                <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png"
                                                        alt=""></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Ajouter les types</strong>
                </div>
                <div class="panel-body">
                    <table>
                        <tbody>
                        <tr>


                                <div class="panel panel-default col-xs-12">
                                    <div class="panel-heading">
                                        <strong>Attribution des types : {{ entreprise.bean.nom }}</strong>
                                    </div>
                                    <div class="panel-body">
                                        <form method="post"
                                              action="index.php?page=newEntreprise2&nom={{ entreprise.bean.nom }}">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong>Nouveau types </strong>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">Types : </span>
                                                        <select name="type" class="form-control">
                                                            {% for type in liste %}
                                                                <option value="{{ type.id }}">{{ type.type }}</option>
                                                            {% endfor %}
                                                        </select>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info" title="Attacher le type" name="creer">
                                    <i class="fa fa-save fa-lg"></i>
                                </button>
                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>Type Actuels</strong>
                                            </div>
                                            <div class="panel-body">
                                                {% for type in entreprise.bean.lesTypes %}
                                                    <form method="post" action="#">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">Type : </span>

                                                            <input type="text" class="form-control hidden"
                                                                   value="{{ type.id }}" name="idType">
                                                            <input type="text" class="form-control"
                                                                   value="{{ type.type }}" disabled>

                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info" title="Supprimer le type" name="supp">
                                        <i class="fa fa-times fa-lg"></i>
                                    </button>
                                </span>
                                                        </div>
                                                    </form>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </tr>
                        </tbody>
                    </table>

                    <a href="index.php?page=pageAdmin" class="bouton">Terminer</a>
                </div>

            </div>
        </div>
    </article>
{% endblock %}
