{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}
{% block boostrap %}
    <link rel="stylesheet" href="CSS/bootstrap-3.2.0-dist/css/bootstrap.min.css">
{% endblock %}
{% block contenu %}
    <article class="formulaireAdmin">
        <div class="container">
            <form method="post" action="index.php?page=newPapier2&id={{ papier.bean.id }}"
                  enctype="multipart/form-data">
                <div class="titreAdmin">
                    <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png"
                                                            alt=""></a>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Ajouter les pays</strong>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays1">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays1" id="pays1">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays2">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays2" id="pays2">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays3">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays3" id="pays3">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays4">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays4" id="pays4">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays5">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays5" id="pays5">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays6">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays6" id="pays6">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays7">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays7" id="pays7">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays8">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays8" id="pays8">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                <span class="input-group-addon">
                                     <label for="pays9">A quelle pays doit-il etre associer ?</label>
                                </span>
                                        <select class="form-control" name="pays9" id="pays9">
                                            <option value="0">...</option>
                                            {% for pays in liste %}
                                                <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="panel-footer">
                                        <button type="submit" class="btn" name="valider">
                                            Ajouté
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </form>
        </div>

    </article>
{% endblock %}
