{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}
{% block boostrap %}
    <link rel="stylesheet" href="CSS/bootstrap-3.2.0-dist/css/bootstrap.min.css">
{% endblock %}
{% block contenu %}
    <article class="formulaireAdmin">
        <div class="container">


            <div class="titreAdmin">
                <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png"
                                                        alt=""></a>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Ajouter les pays</strong>
                </div>
                <div class="panel-body">
                    <table>
                        <tbody>
                        <tr>

                            <div class="panel panel-default col-xs-12">
                                <div class="panel-heading">
                                    <strong>Attribution des pays : {{ papier.bean.nom }}</strong>
                                </div>
                                <div class="panel-body">
                                    <form method="post" action="#">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>Nouveau pays </strong>
                                            </div>
                                            <div class="panel-body">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Pays : </span>
                                                    <select name="pays" class="form-control">
                                                        {% for pays in liste %}
                                                            <option value="{{ pays.id }}">{{ pays.nom }}</option>
                                                        {% endfor %}
                                                    </select>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info" title="Attacher le pays" name="creer">
                                    <i class="fa fa-save fa-lg"></i>
                                </button>
                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>Pays Actuels</strong>
                                        </div>
                                        <div class="panel-body">
                                            {% for pays in papier.bean.lesPays %}
                                                <form method="post" action="#">

                                                    <div class="input-group">
                                                        <span class="input-group-addon">Pays : </span>

                                                        <input type="text" class="form-control hidden"
                                                               value="{{ pays.id }}" name="idPays">
                                                        <input type="text" class="form-control" value="{{ pays.nom }}"
                                                               disabled>

                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info" title="Supprimer le pays" name="supp">
                                        <i class="fa fa-times fa-lg"></i>
                                    </button>
                                </span>
                                                    </div>
                                                </form>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                        </tbody>
                    </table>
                    <a href="index.php?page=pageAdmin" class="bouton">Terminer</a>
                </div>
            </div>
        </div>

    </article>
{% endblock %}
