{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}

{% block contenu %}
    <article id="listeAdminP">
        <div class="titreAdmin">
            <a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png" alt="">Retour
                au menu administrateur</a>

            <h2>Liste des papiers</h2>
        </div>
        <div>
            {% for papier in liste %}
                <div>
                    {%if ((papier.lesSuivits | length) == 0) %}
                        <a href="index.php?page=suppPapier&id={{ papier.id }}"><i class="fa fa-times fa-lg"></i></a>
                    {%else%}
                        <a href=""><i class="fa fa-square-o fa-lg" ></i></a>
                    {%endif%}
                    <a href="index.php?page=modifPapier&id={{ papier.id }}"><i class="fa fa-edit fa-lg"></i></a>
                    <div>
                        <div class="titre">
                            <h5>{{ papier.nom }}</h5>
                        </div>
                        <p class="descritpionEntreprise">{{ papier.description }}</p>
                        <p class="villeEntreprise">{% for pays in papier.lesPays %}{{ pays.nom }} {% endfor %}</p>
                        <p>{{ papier.duree }} jours</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </article>
{% endblock %}
