{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/Profil {{ session.nom }}{{ session.prenom }}{% endblock %}
{% block boostrap %}
    <link rel="stylesheet" href="CSS/bootstrap-3.2.0-dist/css/bootstrap.min.css">
{% endblock %}
{% block contenu %}
    <article class="formulaireAdmin">
        <div class="container">
            <form method="post" action="index.php?page=modifEnt&id={{ entreprise.bean.id }}"
                  enctype="multipart/form-data">
                <div><a href="index.php?page=pageAdmin"><img class="retourAccueil" src="CSS/images/retourAdmin.png"
                                                             alt="">Retour au menu administateur</a></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>modification entreprise : </strong>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="input-group">
                <span class="input-group-addon">
                    <label for="nom">Nom</label>
                </span>
                                        <input type="text" class="form-control" name="nom"
                                               value="{{ entreprise.bean.nom }}"
                                               placeholder="Nom" required>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                   <span class="input-group-addon">
                                         <label for="visiter">visiter</label>
                                   </span>
                                        <input type="radio" class="radio-inline" name="visiter"
                                               value="0" placeholder="visite"
                                               {% if entreprise.bean.visiter==0 %}checked{% endif %} required>
                                        <input type="radio" class="radio-inline" name="visiter"
                                               value="1" placeholder="visite"
                                               {% if entreprise.bean.visiter==1 %}checked{% endif %} required>
                                    </div>
                                    <br/>
                                    <div class="input-group">
                                   <span class="input-group-addon">
                                        <label for="description">description</label>
                                   </span>
                                        <input type="text" class="form-control" name="description"
                                               value="{{ entreprise.bean.description }}"
                                               placeholder="Description">
                                    </div>
                                    <br/>

                                    <div class="input-group">
                                   <span class="input-group-addon">
                                        <label for="rue">rue</label>
                                   </span>
                                        <input type="text" class="form-control" name="rue"
                                               value="{{ entreprise.bean.rue }}"
                                               placeholder="rue">
                                    </div>
                                    <br/>

                                    <div class="input-group">
                                   <span class="input-group-addon">
                                        <label for="Avis">avis</label>
                                   </span>
                                        <input type="radio" class="radio-inline" name="avis"
                                               value="0" placeholder="visite"
                                               {% if entreprise.bean.avis==0 %}checked{% endif %} required>
                                        <input type="radio" class="radio-inline" name="avis"
                                               value="1" placeholder="visite"
                                               {% if entreprise.bean.avis==1 %}checked{% endif %} required>
                                    </div>
                                    <br/>

                                    <div class="input-group">
                                   <span class="input-group-addon">
                                        <label for="taille">taille</label>
                                   </span>
                                        <input type="radio" class="radio-inline" name="taille"
                                               value="0" placeholder="visite"
                                               {% if entreprise.bean.taille==0 %}checked{% endif %} required>
                                        <input type="radio" class="radio-inline" name="taille"
                                               value="1" placeholder="visite"
                                               {% if entreprise.bean.taille==1 %}checked{% endif %} required>
                                    </div>
                                    <br/>

                                    <div class="input-group">
                                   <span class="input-group-addon">
                                        <label for="profil">profil</label>
                                   </span>
                                        <input type="text" class="form-control" name="profil"
                                               value="{{ entreprise.bean.profil }}"
                                               placeholder="profil">
                                    </div>
                                    <br/>

                                    <div class="input-group">
                                   <span class="input-group-addon">
                                        <label for="ville">ville</label>
                                   </span>
                                        <input type="text" class="form-control" name="ville"
                                               value="{{ entreprise.bean.ville }}"
                                               placeholder="Ville">
                                    </div>
                                    <br/>

                                    <div class="input-group">
                                   <span class="input-group-addon">
                                        <label for="contact">contact</label>
                                   </span>
                                        <input type="text" class="form-control" name="contact"
                                               value="{{ entreprise.bean.contact }}"
                                               placeholder="Contact">
                                    </div>
                                    <br/>

                                    <div class="input-group">
                                   <span class="input-group-addon">
                                        <label for="telephone">téléphone</label>
                                   </span>
                                        <input type="number" class="form-control" name="telephone"
                                               value="{{ entreprise.bean.telephone }}"
                                               placeholder="Telephone">
                                    </div>
                                    <br/>

                                    <select class="form-control" name="pays">
                                        <option value="{{ entreprise.bean.LePays.id }}">{{ entreprise.bean.LePays.nom }}</option>
                                        {% for pays in liste %}
                                            <option value="{{ pays.id }}">{{ pays.nom }}</option>

                                        {% endfor %}
                                    </select>
                                    <br/>
                                    <div class="panel-footer">
                                        <button type="submit" class="btn btn-default" name="valider">
                                            modifier
                                        </button>
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </article>
{% endblock %}
