{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/Profil {{ session.nom }}{{ session.prenom }}{% endblock %}

{% block contenu %}


    <article id="monProfil">

        <div class="col6">
            <div>
                <h3 class="blanc">MMI Montbéliard</h3>
                <h2 class="blanc">Mon profil</h2>
            </div>
        </div>

        <div class="col1">
            <div>
                <span>Nom :</span>
                <span>{{ session.nom }}</span>
            </div>
            <div>
                <span>Prénom :</span>
                <span>{{ session.prenom }}</span>
            </div>
            <div>
                <span>Email :</span>
                <span>{{ session.mail }}</span>
            </div>
            <div>
                {% if session.ID_SUIVI== "" %}
                    <a href="">Je n'ai pas encore de stage</a>
                {% endif %}
                {% if session.ID_SUIVI!= "" %}
                    <span>Mon stage :</span>
                    <span>Kaizen</span>
                {% endif %}

            </div>
        </div>

        <div class="col1 colonneaImage" id="imageProfil">
            <img src="CSS/images/{{ session.photo }}" alt="">
        </div>


    </article>
{% endblock %}
