{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/{{ entreprise.nom }}{% endblock %}

{% block contenu %}
<article id="Entreprise">
    <div class="col1">
        <h1 class="bleu">{{ entreprise.nom }}</h1>
        <div><h3 class="bleu">Présentation de l’entreprise :</h3>
            <p class="bleu">{{ entreprise.description }}</p>
        </div>
        <div id="caractéristique"><h3 class="bleu">Caractéristiques :</h3>
            <ul>
                <li><p>Type(s):</p>
                    <div>{% for type in entreprise.lesTypes %}
                            {% if type.id == 1 %}Communication{% endif %}
                            {% if type.id == 2 %}Graphisme{% endif %}
                            {% if type.id == 3 %}Developpement{% endif %}
                        {% endfor %}
                    </div>
                <li><p>Taille :</p>
                    <div>{% if entreprise.taille == 1 %}Grande entreprise{% endif %}
                        {% if entreprise.taille == 0 %}PME{% endif %}
                    </div>
                </li>
                <li><p>Visite :</p>
                    <div> {% if entreprisevisiter == 0 %}L'entreprise a déja été visitée{% endif %}
                        {% if entreprisevisiter == 1 %}L'entreprise n'a jamais été visitée{% endif %}</div>
                </li>
            </ul>

            <div class="col1">
                <h3 class="bleu">Les contacter:</h3>
                <p class="bleu">{{entreprise.contact}}</br>
                    {{ entreprise.telephone }}</p>
            </div>

            <div class="col1">
                <h3 class="bleu">Adresse :</h3>
                <p class="bleu">{{ entreprise.rue }}</br>{{ entreprise.ville }} | {{ entreprise.LePays.nom }}</p>
            </div>
        </div>
    </div>
    <div class="col1 map">

        <div id="map"></div>


    </div>

{% for Avis in entreprise.SontAller %}

    <div id="avisEntreprise">
        <div class="row1">
        <img class="imageAvis" src="imagesappli/{{ Avis.photo }}" alt="Avatardel'etudiant">
        <h4 class="blanc">{{ Avis.prenom }} {{ Avis.nom }}</h4>
        </div>
        <p class="texteAvis  bleu">{{ Avis.descriptionAvis }}</p>
    </div>

{% endfor %}
    <script type="text/javascript">


        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat:{{ entreprise.longitude }}, lng:{{ entreprise.latitude }}},
                zoom: 15
            });

            var marker = new google.maps.Marker({
                position: {lat:{{ entreprise.longitude }}, lng:{{ entreprise.latitude }}},
                map: map
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoJ82u4A_xBSlTWf7SuC7BmIDdVLqTnDQ&callback=initMap">
    </script>
</article>
{% endblock %}

