{% extends 'general.html.twig' %}

{% block title %}MMI Stage à l'étranger/Recherche{% endblock %}

{% block contenu %}
    <article id="Liste">
        <div id="filtres">
            <div>
                <h3 class="bleu">MMI Montbéliard</h3>
                <h2 class="bleu">Vous propose ces offres de stage</h2>
            </div>
            <div id="ListeFiltre">
                <div class="pictoFiltres">
                    <input name="communication" id="communication" value="1" type="checkbox"
                           {% if recherche.communication == 1 %}checked{% endif %}>
                    <label for="communication" data-affiche="communication" id="affiche-communication"
                           class="com"></label>
                </div>
                <div class="pictoFiltres">
                    <input name="graphisme" value="1" id="graphisme" type="checkbox"
                           {% if recherche.graphisme == 1 %}checked{% endif %}>
                    <label for="graphisme" id="affiche-graphisme" data-affiche="graphisme" class="graf"></label>
                </div>
                <div class="pictoFiltres">
                    <input name="developpement" value="1" id="developement" type="checkbox"
                           {% if recherche.developpement == 1 %}checked{% endif %}>
                    <label for="developement" data-affiche="developpement" id="affiche-developpement"
                           class="dev"></label>
                </div>
                <div class="pictoFiltres">
                    <input name="GE" value="1" id="GE" type="checkbox" {% if recherche.GE == 1 %}checked{% endif %}>
                    <label for="GE" class="GE" data-affiche="grandentreprise" id="affiche-grandentreprise"></label>
                </div>
                <div class="pictoFiltres">
                    <input name="PME" value="1" id="PME" type="checkbox" {% if recherche.PME == 1 %}checked{% endif %}>
                    <label for="PME" data-affiche="pme" id="affiche-pme" class="PME"></label>
                </div>
                <div class="pictoFiltres">
                    <input name="inconnu" value="1" id="inconnu" type="checkbox"
                           {% if recherche.inconnu == 1 %}checked{% endif %}>
                    <label for="inconnu" data-affiche="inconnu" id="affiche-inconnu" class="inconnu"></label>
                </div>
                <div class="pictoFiltres">
                    <input name="connu" value="1" id="connu" type="checkbox"
                           {% if recherche.connu == 1 %}checked{% endif %}>
                    <label for="connu" data-affiche="connu" id="affiche-connu" class="connu"></label>
                </div>
                <div class="pictoFiltres">
                    <input name="aimer" value="1" id="aimer" type="checkbox"
                           {% if recherche.aimer == 1 %}checked{% endif %}>
                    <label for="aimer" data-affiche="aimer" id="affiche-aimer" class="aimer"></label>
                </div>
            </div>
        </div>


        <div id="Listentreprise"
             class="col3  {% if recherche.communication == 1 %}affiche-communication{% endif %} {% if recherche.graphisme == 1 %}affiche-graphisme{% endif %} {% if recherche.developpement == 1 %}affiche-developpement{% endif %} {% if recherche.PME == 1 %}affiche-pme{% endif %} {% if recherche.GE == 1 %}affiche-grandentreprise{% endif %} {% if recherche.inconnu == 1 %}affiche-inconnu{% endif %} {% if recherche.connu == 0 %}affiche-connu{% endif %} {% if recherche.aimer == 1 %}affiche-aimer{% endif %}">
            {% for entreprise in liste %}

            <div class="ficheEntreprise  {% for type in entreprise.lesTypes %}  {% if type.id == 1 %}communication{% endif %} {% if type.id == 2 %}graphisme"{% endif %} {% if type.id == 3 %} developpement{% endif %} {% endfor %}
                {% if entreprise.type == 1 %}communication{% endif %} {% if entreprise.type == 2 %}
                    graphisme{% endif %} {% if entreprise.type == 3 %}developpement{% endif %} {% if entreprise.taile == 0 %}
                    pme{% endif %} {% if entreprise.taile == 1 %}grandentreprise{% endif %} {% if entreprise.visiter == 1 %}
                    inconnu{% endif %} {% if entreprise.visiter == 0 %}connu{% endif %} {% if entreprise.avis == 1 %}
                 aimer{% endif %}">
            <div class="titreEntreprise ">
                <h5>{{ entreprise.nom }}</h5>
            </div>
            <p class="descritpionEntreprise">{{ entreprise.description }}</p>
            <p class="villeEntreprise">{{ entreprise.ville }}, {{ entreprise.lePays.nom }}</p>
            <div class="pictoFiltres">
                {% for type in entreprise.lesTypes %}

                    {% if type.id == 1 %} <img src="CSS/images/Picto/picto2_communication.png"
                                               alt="communication">{% endif %}
                    {% if type.id == 2 %} <img src="CSS/images/Picto/picto2_graphisme.png"
                                               alt="graphisme">{% endif %}
                    {% if type.id == 3 %} <img src="CSS/images/Picto/picto2_developpement.png"
                                               alt="developpement">{% endif %}
                {% endfor %}

                {% if entreprise.taille == 1 %}<img src="CSS/images/Picto/picto2_grandenteprise.png"
                                                    alt="GE">{% endif %}
                {% if entreprise.taille == 0 %}<img src="CSS/images/Picto/picto2_PME.png" alt="PME">{% endif %}
                {% if entreprisevisiter == 0 %}<img src="CSS/images/Picto/picto2_connu.png"
                                                    alt="connu">{% endif %}
                {% if entreprisevisiter == 1 %}<img src="CSS/images/Picto/picto2_inconnu.png"
                                                    alt="inconnu">{% endif %}
                {% if entreprise.avis == 1 %}<img src="CSS/images/Picto/picto2_aimer.png"
                                                  alt="aimer">{% endif %}
            </div>
            <div class="Ensavoirplus">
                <a class="btnEntreprise bleu" href="index.php?page=Entreprise&id={{ entreprise.id }}">En savoir
                    plus</a>
            </div>

        </div>
        {% endfor %}
        </div>
    </article>
    <script>
        (function () {
            "use strict";
            var liste = document.querySelector("#Listentreprise");
            // Etape 1 : un gestionnaire par bouton
            var afficheCommunication = document.querySelector("#affiche-communication");
            var afficheGraphisme = document.querySelector("#affiche-graphisme");
            var afficheDeveloppement = document.querySelector("#affiche-developpement");
            var afficheGrandentreprise = document.querySelector("#affiche-grandentreprise");
            var affichePME = document.querySelector("#affiche-pme");
            var afficheConnu = document.querySelector("#affiche-connu");
            var afficheInconnu = document.querySelector("#affiche-inconnu");
            var afficheAimer = document.querySelector("#affiche-aimer");
            var filtres = document.querySelector("#ListeFiltres");


            function clickAfficheTous() {
                var affiche = event.target.dataset.affiche;

                if (affiche === undefined) {
                    return;
                }
                liste.classList.toggle("affiche-" + affiche);
            }

            afficheCommunication.addEventListener("click", clickAfficheTous);
            afficheGraphisme.addEventListener("click", clickAfficheTous);
            afficheDeveloppement.addEventListener("click", clickAfficheTous);
            afficheGrandentreprise.addEventListener("click", clickAfficheTous);
            affichePME.addEventListener("click", clickAfficheTous);
            afficheConnu.addEventListener("click", clickAfficheTous);
            afficheInconnu.addEventListener("click", clickAfficheTous);
            afficheAimer.addEventListener("click", clickAfficheTous);


            function clickAffiche(evt) {
                if (evt.target.matches("label")) {
                    console.log("utilisez :", evt.target.id)

                }
            }
        }());
    </script>
{% endblock %}